.container {
  height: 6.563rem;
}

.content {
  max-width: 1120px;
  height: 6.563rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  img {
    cursor: pointer;
  }
}
